PORT=

# DB_docker
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Prisma
DATABASE_URL=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN

MAX_AGE_ACCESS= #PHUT
MAX_AGE_REFRESH= #NGAY

# Admin Seed Account
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_FULL_NAME=
ADMIN_PHONE=